<footer class="footer" style="background-color: #182747; ">
  <div class="container">
    <div class="row gy-4 gx-9">
      <div class="col-lg-4 col-md-6 left">
        <h3 class="footerTitle">UFO Observations</h3>
        <p>
          UFO Observations is a sighting website for any unexplained moving object observed in the sky, especially one assumed by some observers to be of extraterrestrial origin.
          Here you can sight or report What happened and what was seen etc.
        </p>
      </div>
      <div class="col-lg-4 col-md-6 mid">
        <h3 class="footerTitle">Contact Information</h3>
        <span>UFO Observations AS</span>
        <br />
        <span>Org.Nr 666 356 106</span>
        <br />
        <span>E-mail: <a href="mailto:support@reset.com">support@reset.com</a></span>
        <br />
        <span>Telephone: <a href="tel:+47 123 45 678">+47 123 45 678</a></span>
      </div>
      <div class="col-lg-4 col-md-6  right">
        <h3 class="footerTitle">Submit a Report</h3>
        If you have seen any UFOs,
        please report to us!
        <br />
        <br />
        <a href='/create.html' class="filebutton">Submit a Report</a>
      </div>
    </div>
  </div>
  <div class="row copyright">
    <h5>2022 &copy; <b>UFO OBSERVATIONS</b></h5>
  </div>
</footer>
